USE [master]
GO
/****** Object:  Database [pdumaresq_D20_A04]    Script Date: 2017-04-11 9:06:04 PM ******/
CREATE DATABASE [pdumaresq_D20_A04] ON  PRIMARY 
( NAME = N'pdumaresq_D20_A04', FILENAME = N'd:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\Data\pdumaresq_D20_A04.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pdumaresq_D20_A04_log', FILENAME = N'd:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\Data\pdumaresq_D20_A04_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pdumaresq_D20_A04].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pdumaresq_D20_A04]
GO
/****** Object:  User [amcdonald]    Script Date: 2017-04-11 9:06:04 PM ******/
CREATE USER [amcdonald] FOR LOGIN [amcdonald] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[MM_DIRECTOR]    Script Date: 2017-04-11 9:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_DIRECTOR](
	[DIRECTOR_NO] [smallint] NOT NULL,
	[LASTNAME] [varchar](30) NOT NULL,
	[FIRSTNAME] [varchar](30) NOT NULL,
	[BIRTH_YEAR] [smallint] NULL,
	[DEATH_YEAR] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[DIRECTOR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MM_MOVIE]    Script Date: 2017-04-11 9:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_MOVIE](
	[MOVIE_NO] [smallint] NOT NULL,
	[TITLE] [varchar](30) NOT NULL,
	[CRITICS_RATING] [varchar](2) NULL,
	[MPAA_RATING] [varchar](2) NULL,
	[NO_AWARDS_NOMINATED] [tinyint] NULL,
	[NO_AWARDS_WON] [tinyint] NULL,
	[DIR_DIRECTOR_NO] [smallint] NULL,
	[MG_MOVIE_GENRE_NO] [tinyint] NULL,
	[YEAR_MADE] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MOVIE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MM_MOVIE_GENRE]    Script Date: 2017-04-11 9:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_MOVIE_GENRE](
	[MOVIE_GENRE_NO] [tinyint] NOT NULL,
	[MOVIE_GENRE_DESCRIPTION] [varchar](50) NOT NULL,
	[MOVIE_GENRE_FINE] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MOVIE_GENRE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MM_MOVIE_MOVIE_STAR]    Script Date: 2017-04-11 9:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_MOVIE_MOVIE_STAR](
	[MOV_MOVIE_NO] [smallint] NULL,
	[MS_STAR_NO] [smallint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MM_MOVIE_STAR]    Script Date: 2017-04-11 9:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_MOVIE_STAR](
	[STAR_NO] [smallint] NOT NULL,
	[LASTNAME] [varchar](30) NOT NULL,
	[FIRSTNAME] [varchar](30) NOT NULL,
	[BIRTH_PLACE] [varchar](30) NULL,
	[BIRTH_YEAR] [smallint] NULL,
	[DEATH_YEAR] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[STAR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [SYS_C0028190]    Script Date: 2017-04-11 9:06:04 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SYS_C0028190] ON [dbo].[MM_DIRECTOR]
(
	[DIRECTOR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [SYS_C0028199]    Script Date: 2017-04-11 9:06:04 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SYS_C0028199] ON [dbo].[MM_MOVIE]
(
	[MOVIE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [SYS_C0028209]    Script Date: 2017-04-11 9:06:04 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SYS_C0028209] ON [dbo].[MM_MOVIE_GENRE]
(
	[MOVIE_GENRE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [SYS_C0028202]    Script Date: 2017-04-11 9:06:04 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SYS_C0028202] ON [dbo].[MM_MOVIE_MOVIE_STAR]
(
	[MOV_MOVIE_NO] ASC,
	[MS_STAR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [SYS_C0028206]    Script Date: 2017-04-11 9:06:04 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SYS_C0028206] ON [dbo].[MM_MOVIE_STAR]
(
	[STAR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MM_MOVIE]  WITH CHECK ADD  CONSTRAINT [MM_MOVIE_DIRECTOR_FK] FOREIGN KEY([DIR_DIRECTOR_NO])
REFERENCES [dbo].[MM_DIRECTOR] ([DIRECTOR_NO])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[MM_MOVIE] CHECK CONSTRAINT [MM_MOVIE_DIRECTOR_FK]
GO
ALTER TABLE [dbo].[MM_MOVIE]  WITH CHECK ADD  CONSTRAINT [MM_MOVIE_MOVIE_GENRE_FK] FOREIGN KEY([MG_MOVIE_GENRE_NO])
REFERENCES [dbo].[MM_MOVIE_GENRE] ([MOVIE_GENRE_NO])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[MM_MOVIE] CHECK CONSTRAINT [MM_MOVIE_MOVIE_GENRE_FK]
GO
ALTER TABLE [dbo].[MM_MOVIE_MOVIE_STAR]  WITH CHECK ADD  CONSTRAINT [MM_MOV_MOVSTAR_MOVIE_FK] FOREIGN KEY([MOV_MOVIE_NO])
REFERENCES [dbo].[MM_MOVIE] ([MOVIE_NO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MM_MOVIE_MOVIE_STAR] CHECK CONSTRAINT [MM_MOV_MOVSTAR_MOVIE_FK]
GO
ALTER TABLE [dbo].[MM_MOVIE_MOVIE_STAR]  WITH CHECK ADD  CONSTRAINT [MM_MOV_MOVSTAR_STAR_FK] FOREIGN KEY([MS_STAR_NO])
REFERENCES [dbo].[MM_MOVIE_STAR] ([STAR_NO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MM_MOVIE_MOVIE_STAR] CHECK CONSTRAINT [MM_MOV_MOVSTAR_STAR_FK]
GO
USE [master]
GO
