<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pdumaresq_B42_L05.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=csoracle.cegep-heritage.qc.ca;PASSWORD=pdumaresq;PERSIST SECURITY INFO=True;USER ID=PDUMARESQ"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>